<!DOCTYPE html>
<html>
	<head>
		<title>@GetValue("Title")</title>
@GetValue("MetaTags")
@GetValue("CopyRightNotice")

	@GetValue("Stylesheets")
@GetValue("Javascripts")
</head>
	<body>
	
	</body>
</html>