<!DOCTYPE html>
<html>
<head>	
	<title>@GetValue("Title")</title>
@GetValue("MetaTags")
@GetValue("CopyRightNotice")


	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

	<!--[if lt IE 9]>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	
  @{
		    
	string areaLayoutPath = "/Files/Templates/Designs/Dorot - RTL/";		
	areaLayoutPath = areaLayoutPath.Substring(0, areaLayoutPath.LastIndexOf("/"));

}	
  
	<link rel="stylesheet" type="text/css" href="@areaLayoutPath/assets/css/startpage.css">

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>	

	<!-- <script type="text/javascript">var switchTo5x=true;</script>
	<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
	<script type="text/javascript" src="http://s.sharethis.com/loader.js"></script> -->
	
	@GetValue("Stylesheets")
@GetValue("Javascripts")
</head>
<body>

<div class="underconstruction">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">	       
              <div class="media" id="maincontent">@GetValue("DwContent(maincontent)")</div>			
              <!-- <div class="media-body" style="vertical-align: middle;">
						<h2>A new era of impact</h2>				
						<p>Launching in 2017, Bioverativ will build on Biogen’s leading hemophilia business to transform the lives of people with hemophilia and other rare blood disorders.</p>
						<a href="http://investors.biogen.com/hemophilia-spin-off" target="_blank">Learn more</a>		
					</div>	
				</div>
              
              
				<h2>A new era of impact</h2>				
				<p>Launching in 2017, Bioverativ will build on Biogen’s leading hemophilia business to transform the lives of people with hemophilia and other rare blood disorders.</p>
				<a href='http://investors.biogen.com/hemophilia-spin-off'>Learn more</a>					
			</div> -->
		</div>
	</div>
	<div class="copyright">@GetString("Item.Area.FooterCopyright")</div>
</div>

<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.5.0/lodash.min.js"></script> -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="@areaLayoutPath/assets/js/main.min.js"></script>	

</div></body>
</html>