@using Dynamicweb.Content;
@using Dynamicweb.Extensibility;
@{
  IEnumerable<Page> pages = Dynamicweb.Extensibility.ServiceLocator.Current.GetPageService().GetPagesByParentID(Pageview.Page.ID);
}

@{
  if (GetValue("Item.Products") != null){
  var products = GetLoop("Item.Products");
    foreach (LoopItem product in products){
      string productImage = product.GetString("Item.Products.Image");
      string productTitle = product.GetString("Item.Products.Title");
      string productURL = product.GetString("Item.Products.Url");
      string productImageResized = GetImage(productImage,400, 400);
      <div class="studies-box col-md-3">
        <h4><a href="@productURL">@productTitle</a></h4>
        <img src="@productImageResized" alt="" class="img-responsive media-object" />
      </div>
    }
  } else if (pages.Any()){
    <div class="col-md-12 products-list">
      @foreach (var page in pages.Where(x=>x.ItemType != "Product_Item")){
      var pageTitle = page.MenuText;
      var pageID = page.ID;
      var pageLink = "/Default.aspx?ID=" + pageID;
      var pageSort =  page.Sort;
      string pageItemType = page.ItemType;
    
          <div class="product-item col-md-4 col-xs-12">                
              <h3 class="name">
                  <a href="@pageLink">
                  @pageTitle @pageSort
                  </a>
              </h3>
              <a class="btn btn-primary" href="@pageLink">@Translate("Read more")</a>      
          </div> 
      }
    </div>
  }
}





