@{
	string altInfo = "<img alt='"+GetValue("FilepublishFileName")+"' ";
}
<tr>
	<td class="target-images">@GetString("FilepublishFileIcon").Replace("<img",@altInfo)</td>
	<td class="target-hrefs"><a href="@GetValue("FilepublishFileLink")">@GetValue("FilepublishFileName")</a></td>
	<td align="right">@GetValue("FilepublishFileSizeKB")</td>
	<td align="right">@GetValue("FilepublishFileDatemodified")</td>
</tr>





