<tr>
	<td>@GetValue("FilepublishFileIcon")</td>
	<td><a href="@GetValue("FilepublishFileLink")">@GetValue("FilepublishFileName") </td>
	<td align="right">@GetValue("FilepublishFileSizeKB")</td>
	<td align="right">@GetValue("FilepublishFileDatemodified")</td>
</tr>
